*,
*::after,
*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Landing Page */
.bg-image {
    background-image: url(https://i.postimg.cc/TPwz9tPz/pexels-saeid-anvar-827209.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.heading{
    font-family: 'Hanalei Fill', cursive;
font-family: 'Karla', sans-serif;
padding-top: 100px;
}


/* card */
.card{
    height: 78vh;
    margin: auto;
    margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.822);
    font-weight: 500;
}

.card-text{
    font-size: 0.76rem;
}
#prod-sec{
    /* background-image: url(https://i.postimg.cc/QCjr8kCk/HD-wallpaper-woman-using-nikon-dslr-camera.jpg); */
    background-color: grey;
    overflow-y: scroll;
    background-size: cover;
    height: 100vh;
}

.card-img-top{
    width: 40vh;
    position: relative;
    left: -4.3%;
}

/* price */
.price{
    padding-bottom: 1vh;
    font-size: 2rem;
    padding-left: 1rem;
}
#price{
    font-size: 1rem;
}
/* button */
.card-footer{
    padding-bottom: 7vh;
}

.card-button{
    padding-left: 10rem;
}

/* Contact */

#contact{
    background-image:url(https://i.postimg.cc/QCjr8kCk/HD-wallpaper-woman-using-nikon-dslr-camera.jpg);
    background-size: cover;
    padding-top: 100px;
    height: 150vh;
    font-size: 60px;
}

.contact{
    font-size: 100px;

}

/* Admin Page */
.imageC{
    background-image: url(https://i.postimg.cc/QCjr8kCk/HD-wallpaper-woman-using-nikon-dslr-camera.jpg);
    background-size: cover;

}
.table{
    background-color: rgba(123, 122, 122, 0.637);

}

.btn{
    padding: 10px 10px;
    border:none;
    border: radius 5px;
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.92;
    margin:5px;
    cursor: pointer;
}

.imageF,.btn{
    display:inline-block;
    padding:10px 20px;
}
